[user]
jid = 'user@server/resource'
password = 'the_user_password'

[[room]]
jid = 'room1@server'
password = 'the_room1_password'
nick = 'nickname1'

[[room]]
jid = 'room2@server'
password = 'the_room2_password'
nick = 'nickname2'
